@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #f6f7f9;
  --foreground: #323a45;
  --primary: #6cc2d2;
  --accent: #40e0d0;
  --text: #3f6184;
  --muted: #778899;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f7f9;
    --foreground: #323a45;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code);
}